# Each line is a pattern followed by one or more owners.
# These owners will be automatically requested for review when a Pull Request
# modifies files matching the pattern.

# By default, @Mishra1796 owns all files in the repository.
*       @Mishra1796

# Example: If you add collaborators, you can assign specific owners to directories:
# /config/  @Mishra1796
# /tests/   @Mishra1796
